body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Helvetica, Arial, sans-serif;
    height:100vh;
}

.header-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: rgba(233, 236, 243, 0.4);
}

.header {
    width: 80%;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.notification-bell::after {
    cursor: pointer;
    color: #bec9d9;
    display: block;
    content: "\f0f3";
    font-family: "FontAwesome", Arial, Helvetica, sans-serif;
    z-index: 0;
}

.profile-logo {
    cursor: pointer;
    background-color: #f7991b;
    color: #ffffff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 20px;
    z-index: 0;
}

.profile-logo-btn {
    display: flex;
    top: 6px;
    right: 9.85%;
    cursor: pointer;
    position: fixed;
    height: 32px;
    width: 32px;
    opacity: 0;
    z-index: 1;
  }


.content-container {
    width: 100%;
    height: 92.5vh;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-logo {
    height: 30%;
}

.error-number {
    font-size: 60px;
}

.response-message {
    font-size: 24px;
}

.error-message {
    font-size: 16px;
}

.dropdown-content {
    width: 150px;
    font-size: 16px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 45px;
    right: 9.8%;
    padding: 10px 15px;
    border-radius: 5%;
    background-color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
    z-index: 1;
}

.dropdown-content .user-name {
    color: #9ba6b2;
    text-align: center;
}

#email {
    display: block;
    font-size: 10px;
    text-align: center;
    text-transform: lowercase;
    color: cornflowerblue;
    border-bottom: 1.5px #9ba6b2 solid;
    padding-bottom: 5px;
    margin-bottom: 7px;
}

.dropdown-content .profile,
.dropdown-content .log-out {
    display: block;
    text-decoration: none;
    color: black;
    line-height: 30px;
}

.dropdown-content i {
    margin: 0 5px;
}

.notification-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.error-container,
.success-container,
.warning-container {
    width: 250px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 7% 0;  
    margin-top: 5%;
    opacity: 0.9;
}

.error-container i,
.success-container i,
.warning-container i {
    margin: 0 20px;
}

.error-container {
    background-color: #ca5e58;
}

.success-container {
    background-color: #73b573;
}

.warning-container {
    background-color: #faa045;
}

.notification-container span {
    font-weight: bold;
}

.notification-container i {
    color: white;
}

.profile:hover,
.log-out:hover {
    background-color: rgba(233, 236, 243, 0.6);
}

.profile-logo-btn:hover ~ .profile-logo {
    background-color: #e68809;
}

.notification-bell:hover::after {
    color: #909bab;
}

.profile-logo-btn:checked ~ .dropdown-content {
    display: flex;
}

.header-container {
    animation-name: header-container;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes header-container {
    0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    transform: none;
    }
} 